.chat-message-container {
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: row;
}
.chat-message-user-info {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center
;
    justify-content: center;
}

.chat-message-user-info .chat-message-user-info-detailed {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.chat-message-user-info:hover .chat-message-user-info-detailed {
    visibility: visible;
    opacity: 1;
}

.chat-message-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #eeeeee;
    display: flex;
}

.chat-message-block {
    padding: 5px 8px;
}

.chat-message-bubble {
    color: #222222;
    background-color: #eeeeee;
    border-radius: 10px;
    padding: 15px;
}

#chat-message-content {
    font-size: 16px;
    margin: 0;
}

#chat-message-time {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}
