.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    overflow: hidden;
    background-color: #202020;
    padding: 10px 10px;
    height: 54px;
    position: relative;
}

.header-left {
    float: left;
    display: flex;
    width: calc(100vw - 54px);
}

.header .logo-container {
    cursor: pointer;
    margin: auto auto auto 3%;
}

.header .hamburger {
    width: 30px;
    padding: 5px 0;
}

.header .hamburger .main-button {
    width: 30px;
}

.header-right {
    float: right;
}

.header-right .main-button {
    border: 3px solid #6236FF;
    overflow: hidden;
}
