.inner-profile {
    margin: 100px 100px 0px;
}

.inner-profile .profile-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-profile img {
    border: 3px solid #6236FF;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.inner-profile h2 {
    margin-left: 50px;
}


/* copied from components.css */


.profile_head h2 {
    margin-left: 50px;
}

.profile_head img {
    border: 3px solid #6236FF;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.update_profile_pic_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.update_profile_pic_input {
    flex-grow: 1;
}

.update_profile_pic_button {
    max-width: 100px;
}

.profile_songs {
    display: flex;
}

.profile_requested_songs {
    flex-grow: 1;
}

.profile_requested_songs_inner {
    max-height: 425px;
    overflow: scroll;
}

.profile_liked_songs {
    flex-grow: 1;
}

.profile_liked_songs_inner {
    max-height: 425px;
    overflow: scroll;
}

.profile_song_info_container {
    display: flex;
}

.profile_song_image {
    margin: 5px;
}

.profile_song_description_container {
    flex-grow: 1;
    overflow: scroll;
    white-space: nowrap;
}

.profile_song_description{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    margin: 10px 0px;
}