/* Style the header with a grey background and some padding */
.header {
    margin: 0 auto;
    overflow: hidden;
    background-color: #EBEAEA;
    padding: 10px 10px;
    height: 54px;
    position: relative;
}

.header .logo {
    margin: 0 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #6236FF;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    line-height: 25px;
    font-size: 40px;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header-right .main-button {
    border: 3px solid #6236FF;
    padding: 0;
    overflow: hidden;
}

.center-mid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.add-song-form #message_tb {
    width: 100%;
}

.add-song-form {
    width: 100%;
    margin-bottom: 10px;
}

.add-song-form .main-button {
    display: flex;
    margin: 10px 0px auto auto;
}

.add-song-form .valid-check {
    display: flex;
    font-size: 12px;
    margin: 10px 0px 0 auto;
}

.add-song-form .invalid-URL-text {
    color: red;
}

.add-song-form .valid-URL-text {
    color: green;
}

.text_input_div {
    display: flex;
    outline: none;
}

.search_bar_div {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.search_input {
    margin-left: 3px;
}

.unselectable {
    user-select: none;
}
