.fill-container {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
}

.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    max-height: 80%;
    position: relative;
    visibility: visible;
    overflow: hidden;
}

.popup .text {
    display: block;
    padding: 20px;
}

.popup .closeButtonContainer {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 0;
    width: 30px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 2px;
}

#dashboard {
    display: flex;
    flex-direction: column;
}

#dashboard_lower {
    display: flex;
}

#dashboard_sidebar {
    width: 200px;
}

#dashboard_display {
    flex-grow: 1;
    padding: 15px;
}

#generic_background {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    width: 100%;
    height: 100%;
}