.main-button {
    border: none;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 500px;
    min-width: 160px;
}

.main-button:hover {
    cursor: pointer;
}
